    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
        <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
        <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js}"></script>
        <title>Edit Profile</title>
    </head>
    <body>
    <div th:object="${user}" class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <img th:src="@{/images/TTN-logo.jpg}" style="width: 75px; height: 75px">
                        <span th:text="*{firstName}"></span>
                        <span th:text="*{lastName}"></span><br>
                        <span th:text="*{username}"></span>
                        <table>
                            <tr>
                                <th>Subscriptions</th>
                                <th>Topics</th>
                            </tr>
                            <tr>
                                <td>50</td>
                                <td>30</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <form action="#" th:action="@{/saveTopic}" th:object="${user}" method="post">
                            First Name: <input type="text" required="required" th:field="*{firstName}"><br>
                            Last Name: <input type="text" required="required" th:field="*{lastName}"><br>
                            Username: <input type="text" required="required" th:field="*{username}"><br>
                            Password: <input type="text" required="required" th:field="*{password}"><br>
                            Photo: <input type="text" required="required" th:field="*{firstName}">
                            <input type="file"><br>
                            <button type="submit" class="btn btn-primary" style="float: right">Update</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form action="#" th:action="@{/saveTopic}" th:object="${user}" method="post">
                            Password: <input type="text" required="required" th:field="*{password}"><br>
                            Confirm Password: <input type="text" required="required" name="password"><br>
                            <button type="submit" class="btn btn-primary" style="float: right">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>

