<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js}"></script>
    <title>Login</title>
</head>
<body>
<div th:include="fragment::header"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default" style="margin-top:15px;">
                <div class="panel-heading bg-primary">Recent shares</div>
                <div class="panel-body">
                    <div>
                        <div class="col-md-2">
                            <img src="${pageContext.request.contextPath}/resources/images/new.jpg" alt="image-icon" class="img-thumbnail">
                        </div>
                        <span class="col-md-3" style="margin-left:-15px;">Mansi Garg</span>
                        <span class="col-md-5" style="opacity:0.5;">@mansi 5 min</span>
                        <span><a>Grails</a></span>
                        <div>
                            <span>Some text to be displayed</span>
                        </div>
                        <div>
                            <div class="col-md-2">
                                <i class="fa fa-facebook-square" style="margin-left:-15px;"></i>
                                <i class="fa fa-tumblr"></i>
                                <i class="fa fa-google-plus"></i>
                            </div>
                            <span style="margin-left:295px;"><a>View Post</a></span>
                        </div>
                    </div>
                    <div>

                        <div class="col-md-2">
                            <img src="${pageContext.request.contextPath}/resources/images/new.jpg" alt="image-icon" class="img-thumbnail">
                        </div>
                        <span class="col-md-3" style="margin-left:-15px;">Mansi Garg</span>
                        <span class="col-md-5" style="opacity:0.5;">@mansi 10 min</span>
                        <span><a>Grails</a></span>
                        <div>
                            <span>Some text to be displayed</span>
                        </div>
                        <div>
                            <div class="col-md-2">
                                <i class="fa fa-facebook-square" style="margin-left:-15px;"></i>
                                <i class="fa fa-tumblr"></i>
                                <i class="fa fa-google-plus"></i>
                            </div>
                            <span style="margin-left:295px;"><a>View Post</a></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default" style="margin-top:15px;">
            <div class="panel-heading bg-primary">Top posts
                <div style="display: inline;margin-left: 475px;">
                    <select class="selectpicker btn btn-primary" >
                        <option>Today</option>
                        <option>1 Day</option>
                        <option>1 Week</option>
                        <option>1 Year</option>
                    </select>
                </div>

            </div>
            <div class="panel-body">
                <div class="col-md-2">
                    <img src="${pageContext.request.contextPath}/resources/images/new.jpg" alt="image-icon" class="img-thumbnail">
                </div>
                <span class="col-md-3" style="margin-left:-15px;">Mansi Garg</span>
                <span class="col-md-5" style="opacity:0.5;">@mansi 4 april 2019</span>
                <span><a>Grails</a></span>
                <div>
                    <span>Some text to be displayed</span>
                </div>
                <div>
                    <div class="col-md-2">
                        <i class="fa fa-facebook-square" style="margin-left:-15px;"></i>
                        <i class="fa fa-tumblr"></i>
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <span style="margin-left:295px;"><a>View Post</a></span>
                </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
            <form th:action="@{/login}" method="post">
                <h2 class="text-center">Log in</h2>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Username" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Password" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <button href="dashboard" type="submit" class="btn btn-primary login-btn btn-block">Log
                        in</button>
                </div>
                <p><a href="forgotPassword" class="btn">Forgot password?</a>
                <span style="float: right">New user?<a href="signup" class="btn">Sign up</a></span>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>


