<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js}"></script>
    <title>Topic Fragment</title>
</head>
<body>
<div th:fragment="topic">
    <div class="panel panel-default" style="margin-top:15px;">
        <div class="panel-heading bg-primary">Topics</div>
        <div class="panel-body">
            <div style="margin-bottom: 10px" th:each="topic: ${topicList}">
            <div class="col-md-3" style="padding: 0px">
                <img th:src="@{'/images/' + ${topic.user.id} + '.jpeg'}" alt="image-icon" class="img-thumbnail">
            </div>
            <div class="col-md-9">
                <span id="topicId" th:text="${topic.id}" style="visibility: hidden"></span>
                <div class="col-md-3" id="unsubscribe" th:topic-id="${topic.id}" th:text="${topic.name}"></div><br>
                <div class="col-md-3" style="opacity:0.5;" id="username" th:text="${topic.user.username}"></div>
                <br><br>
                <table>
                    <tr>
                        <th>Subscriptions</th>
                        <th>Topics</th>
                    </tr>
                    <tr>
                        <td><a id="subCount">10</a></td>
                        <td><a>15</a></td>
                    </tr>
                </table>
                <div class="dropdown first" style="display: inline-block;">
                    <select id="seriousness" class="btn btn-primary" style="font-size: 12px" name="seriousness">
                        <option th:each="seriousness : ${T(com.project.linkSharing.enums.Seriousness).values()}"
                                th:value="${seriousness.getValue()}" th:text="${seriousness.getValue()}"></option>
                    </select>
                </div>
                <div class="dropdown first" style="display: inline-block;">
                    <select id="visibility" class="btn btn-primary" style="font-size: 12px" name="visibility">
                        <option th:each="visibility : ${T(com.project.linkSharing.enums.Visibility).values()}"
                                th:value="${visibility.getValue()}" th:text="${visibility.getValue()}"></option>
                    </select>
                </div>
                <div class="input-group-btn first" style="display: inline-block">
                    <button class="btn btn-default" type="button" style="font-size: 12px"
                            data-toggle="modal" data-target="#send-invite-modal">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-file" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

