<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js}"></script>
    <title>Trending Topics</title>
</head>
<body>
<div th:fragment="trendingTopics">
    <div class="panel panel-default" style="margin-top:15px;">
        <div class="panel-heading bg-primary">Trending Posts</div>
        <div class="panel-body">
            <div class="col-md-3" style="padding: 0px">
                <img th:src="@{/images/TTN-logo.jpg}" alt="image-icon" class="img-thumbnail">
            </div>
            <div class="col-md-9">
                <span class="col-md-3">Mansi Garg</span>
                <span class="col-md-3" style="opacity:0.5;">@mansi</span>
                <br><br>
                <table>
                    <tr>
                        <th>Subscriptions</th>
                        <th>Topics</th>
                    </tr>
                    <tr>
                        <td><a id="subCount" th:text="${subscriptionCount}"></a></td>
                        <td><a th:text="${postCount}"></a></td>
                    </tr>
                </table>
                <div class="dropdown first" style="display: inline-block">
                    <select class="btn btn-primary">
                        <option>Serious</option>
                        <option>Casual</option>
                        <option>Very Serious</option>
                    </select>
                </div>
                <div class="dropdown first" style="display: inline-block">
                    <select class="btn btn-primary">
                        <option>Private</option>
                        <option>Public</option>
                    </select>
                </div>
                <div class="input-group-btn first" style="display: inline-block">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-file" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>